.menuBtn{
    -fx-background-color: #383838;
    -fx-alignment: CENTER;
    -fx-font-size: 30pt Ariel;
    -fx-text-fill: WHITE;
    -fx-min-width: 375.0;
    -fx-min-height: 97.0;
}

.labels {
    -fx-text-fill: WHITE;
    -fx-font-size: 10pt Ariel;
}

.headLabels {
    -fx-text-fill: WHITE;
    -fx-font-size: 15pt Ariel;
}

.buttons{
    -fx-background-color: #383838;
    -fx-alignment: CENTER;
    -fx-text-fill: WHITE;
    -fx-border-width: 1 1 1 1;
        -fx-border-color:WHITE;
}

.buttons:hover{
    -fx-background-color: #4d4d4d;
    -fx-alignment: CENTER;
    -fx-text-fill: WHITE;
    -fx-border-width: 1 1 1 1;
        -fx-border-color:WHITE;
    -fx-cursor: hand;
}

.menuBtn:hover{
    -fx-background-color: #4d4d4d;
    -fx-cursor: hand;
}

.newButton{
    -fx-font-size: 15pt Ariel;
}

.whiteLabels {
    -fx-alignment: CENTER;
    -fx-text-fill: WHITE;
}

.lblPageTitle{
    -fx-font-size: 29pt Ariel;
    -fx-text-fill: WHITE;
}

.lblEditTitle{
    -fx-font-size: 20pt Ariel;
    -fx-text-fill: WHITE;
}